<div class="form-container">
  <h1>Listing Questions</h1>

  <div class="score_table">
    <table>
      <thead>
        <tr>
        	<th>Rule: </th>
          <th>Question: </th>
          <th>Answer: </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
          	<td><%= question.rule.name %></td>
            <td><%= markdown(question.body) %></td>
            <td><%= markdown(question.answer) %></td>
            <td><%= link_to 'Show', question %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New question', new_question_path, class: "btn btn-primary" %>
</div>  