<!-- SAT FORM -->
<% if @score.name == nil || @score.name == 'SAT' %>
  <div class="well">
    <div class="panel-body">
      <%= simple_form_for(@score, html: { class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>


        <div class="row form_list">
          <div class="form_heading">
            <h3>S.A.T.</h3></div>
          <% if current_user.admin? %>
            Student: <%= f.collection_select(:user_id, User.all, :id, :full_name, :prompt => true) %>
          <% else %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>
          <br />
          <ul>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :test_type, collection: [['Practice', true], ['Actual', false]], as: :radio_buttons, label: 'Practice Vs. Actual', label_method: :first %>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :name, collection: ['SAT', 'ACT', 'PSAT'], :include_blank => false, label: "Which Test? " %>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :month, collection: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], label: "Month: " %>
                <%= f.input :year, collection: ['2012', '2013', '2014'], label: "Year: " %>
              </div>
            </li> 
            <li class="col-sm-3">
              <h4>Date Taken:</h4>
              <div class="form-group"> 
                <%= f.date_select :taken_date, as: :date, label: "Taken Date:" %>
              </div>
            </li> 
          </ul>  
        </div>

        <div class="row form_list">
          <ul>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :reading, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Reading:" %>
              </div>
            </li>  
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :math, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Math:" %>
              </div>
            </li>  
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :writing, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Writing:" %>
              </div>
            </li>  
            <li class="col-sm-3">   
              <div class="form-group"> 
                <%= f.input :essay, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Essay:" %>
              </div>
            </li>  
          </ul>
        </div>  

        <div class="form-group"> 
          <%= f.input :comment, as: :text, input_html: { rows: "2", :class => "form-control" }, label: "Comment:" %>
        </div>

        <%= f.button :submit, "Post Score", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>  

<!-- PSAT FORM -->
<% if @score.name == nil || @score.name == 'PSAT' %>
  <div class="well">
    <div class="panel-body">
      <%= simple_form_for(@score, html: { class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
      <div class="row form_list">  
        <div class="form_heading"><h3>P.S.A.T.</h3></div>
          <% if current_user.admin? %>
            Student: <%= f.collection_select(:user_id, User.all, :id, :firstname, :prompt => true) %>
          <% else %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>

        <div class="row form_list">
          <ul>
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :test_type, collection: [['Practice', true], ['Actual', false]], as: :radio_buttons, label: 'Practice Vs. Actual', label_method: :first %>
              </div>
            </li>
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :name, collection: ['PSAT', 'SAT', 'ACT' ], :include_blank => false, label: "Which Test? " %>
              </div>
            </li>
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :month, collection: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], label: "Month: " %>
                <%= f.input :year, collection: ['2012', '2013', '2014'], label: "Year: " %>
              </div>
            </li> 

            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :day, collection: [['Wednesday', true], ['Saturday', false]], as: :radio_buttons, label: 'Test Day:', label_method: :first %>
              </div>
            </li> 

            <li class="col-sm-3">
              <h4>Date Taken:</h4>
              <div class="form-group"> 
                <%= f.date_select :taken_date, as: :date, label: "Taken Date:" %>
              </div>
            </li> 

          </ul>  
        </div>
  </div>      
      
      <div class="row form_list">
        <ul>
          <li class="col-sm-3">
            <div class="form-group"> 
              <%= f.input :reading, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Reading:" %>
            </div>
          </li>  
          <li class="col-sm-3">
            <div class="form-group"> 
              <%= f.input :math, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Math:" %>
            </div>
          </li>  
          <li class="col-sm-3">
            <div class="form-group"> 
              <%= f.input :writing, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Writing:" %>
            </div>
          </li>  
        </ul>
      </div>  

      <div class="form-group"> 
        <%= f.input :comment, as: :text, input_html: { rows: "2", :class => "form-control" }, label: "Comment:" %>
      </div>

      <%= f.button :submit, "Post Score", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
<% end %>

<!-- ACT FORM -->
<% if @score.name == nil || @score.name == 'ACT' %>
  <div class="well">
    <div class="panel-body">
      <%= simple_form_for(@score, html: { class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        
        <div class="row form_list">

          <div class="form_heading"><h3>A.C.T.</h3></div>
          <% if current_user.admin? %>
            Student: <%= f.collection_select(:user_id, User.all, :id, :firstname, :prompt => true) %>
          <% else %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>

          <ul>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :test_type, collection: [['Practice', true], ['Actual', false]], as: :radio_buttons, label: 'Practice Vs. Actual', label_method: :first %>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :name, collection: ['ACT', 'SAT', 'PSAT'], :include_blank => false, label: "Which Test? " %>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="form-group"> 
                <%= f.input :month, collection: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], label: "Month: " %>
                <%= f.input :year, collection: ['2012', '2013', '2014'], label: "Year: " %>
              </div>
            </li> 

            <li class="col-sm-3">
              <h4>Date Taken:</h4>
              <div class="form-group"> 
                <%= f.date_select :taken_date, as: :date, label: "Taken Date:" %>
              </div>
            </li> 

          </ul>  
        </div>

            <div class="row form_list">
          <ul> 
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :english, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "English:" %>
              </div>
            <li class="col-sm-2">  
              <div class="form-group"> 
                <%= f.input :math, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Math:" %>
              </div>
            </li>  
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :reading, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Reading:" %>
              </div>
            </li>  
            <li class="col-sm-2">
              <div class="form-group"> 
                <%= f.input :science, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Science:" %>
              </div>
            </li> 
            <li class="col-sm-2">   
              <div class="form-group"> 
                <%= f.input :essay, as: :integer, input_html: { rows: "1", :class => "form-control score_form_input" }, label: "Essay:" %>
              </div>
            </li>  
          </ul>
        </div>  

        <div class="form-group"> 
          <%= f.input :comment, as: :text, input_html: { rows: "2", :class => "form-control" }, label: "Comment:" %>
        </div>

        <%= f.button :submit, "Post Score", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>


