<div class="panel-body">
  <%= simple_form_for(@score, html: { class: "form-horizontal"}) do |f| %>
	  <%= f.error_notification %>

    <div class="form-group"> 
      <%= f.input :test_type, collection: ['Practice', 'Real'], label: "Practice Test, Or The Real Thing? " %>
    </div>

    <div class="form-group"> 
      <%= f.input :test_type, collection: ['SAT', 'ACT', 'PSAT'], label: "Which Test Did You Take? " %>
    </div>

    <div class="form-group"> 
      <%= f.input :month, collection: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], label: "Month: " %>
      <%= f.input :year, collection: ['2012', '2013', '2014'], label: "Year: " %>
    </div>

    <%= f.button :submit, "Post Score", class: "btn btn-primary" %>
  <% end %>
</div>


