<div class="row">
	<div class="well center score_show">
 		<div>
  		<h2><%= @score.user.firstname %> <%= @score.user.lastname %></h2>
		</div>
		
		<div><h3><%= @score.name %></h3></div>
  	
		<div>
    	<% if @score.test_type == true %>
    		<h4><%= 'Practice Test' %></h4>
    	<% else %>
    		<h4><%= 'Actual Test' %></h4>
    	<% end %>		
  	
			<h4>From: <%= @score.month %> <%= @score.year %> 
				<% if @score.day == true %>
    			<%= 'Wednesday' %>
    		<% elsif @score.day == false %>
    			<%= 'Saturday' %>
    		<% else %>
    			<%= '' %>	
    		<% end %>	
    		Taken On: <%= @score.taken_date %>
  		</h4>
  	</div>
		   
		<div>
			<table>
				<tr>
					<th>
						Math: 
					</th>

					<th>
						Reading: 
					</th>

					<th>
						Writing: 
					</th>

					<th>
						English: 
					</th>

					<th>
						Science: 
					</th>

					<th>
						Essay: 
					</th>
				</tr>
				<tr>
					<td><%= @score.math %></td>
					<td><%= @score.reading %></td>
					<td><%= @score.writing %></td>
					<td><%= @score.english %></td>
					<td><%= @score.science %></td>
					<td><%= @score.essay %></td>	
				</tr>	
		</div>		
		      	<%= @score.comment %>

		      	

		      	<%= link_to 'Edit', edit_score_path(@score) %> 

		      	<%= link_to 'Back', current_user %> 

	</div>
</div>