<h3><%= @user.firstname%> <%= @user.lastname%>'s scores</h3>

<div class="score_table">
	<h1>Tests Taken:</h1>
	<table class="table-striped table-condensed table-hover">
	  <tbody>
		  <tr>
		   <tr>
		   	<th>Student</th>
		    <th>Type</th>
		    <th>Name</th>
		    <th colspan="3" class="center">Date</th>
		    <th>Math</th>
		    <th>Reading</th>
		    <th>Writing</th>
		    <th>English</th>
		    <th>Science</th>
		    <th>Essay</th>
		    <th>Comment:</th>
		    <th>Taken On:</th>
		    <th></th>
		    <th></th>

		   </tr>	
		    <% @scores.each do |score| %>
		    	<td>
		    		<%= score.user.firstname %> <%= score.user.lastname %>
					</td>

		    	<td>
		      	<% if score.test_type == true %>
		      		<%= 'Practice' %>
		      	<% else %>
		      		<%= 'Actual' %>
		      	<% end %>		
		    	</td>
		    	
		    	<td>
		      	<%= score.name %>
		    	</td>
					
					<td>
		      	<%= score.month %>
		    	</td>

		    	<td>
		      	<%= score.year %>
		    	</td>

					<td>
		      	<% if score.day == true %>
		      		<%= 'Wednesday' %>
		      	<% elsif score.day == false %>
		      		<%= 'Saturday' %>
		      	<% else %>
		      		<%= '' %>	
		      	<% end %>	
		    	</td>

					<td>
		      	<%= score.math %>
		    	</td>

		    	<td>
		      	<%= score.reading %>
		    	</td>

		    	<td>
		      	<%= score.writing %>
		    	</td>

		    	<td>
		      	<%= score.english %>
		    	</td>

		    	<td>
		      	<%= score.science %>
		    	</td>
					
					<td>
		      	<%= score.essay %>
		    	</td>
					
					<td>
		      	<%= truncate(score.comment, length: 50) %>
		    	</td>
					
					<td>
		      	<%= score.taken_date %>
		    	</td>
		    	
		    	<td>
		      	<%= link_to 'Edit', edit_score_path(score) %> 
		    	</td>

		    	<td>
		      	<%= link_to 'Show', score %> 
		    	</td>
		    </tr>	    
		  <% end %>
		</tbody>    
	</table>
</div>


