<div class="well user_show">
	<h3 class="center"><%= @user.firstname%> <%= @user.lastname%>'s scores</h3>
	<hr>
	
	<% if @scores.where(:name => 'SAT').count > 0 || @scores.where(:name => 'PSAT').count > 0 %>
		<div class="score_table">
			<h4 class="center">S.A.T. & P.S.A.T.</h4>
			<table id="scores">
			  <tbody>
				   <tr>
				    <th>Type</th>
				    <th>Name</th>
				    <th>Date</th>
				    <th>Reading</th>
				    <th>Math</th>				    
				    <th>Writing</th>
				    <th>Cummulative:</th>
				    <th>Essay</th>
				    <th>Taken On:</th>
				    <th></th>
				   </tr>	

				    <% @scores.order('taken_date').where.not(:name => 'ACT').each do |score| %>
					    <% if score.test_type == false %>
					    	<tr class="score_table_color">
					    <% else %>
					    	<tr>
					    <% end %>

				    	<td>
				      	<% if score.test_type == true %>
				      		<%= 'Practice' %>
				      	<% else %>
				      		<%= 'Actual' %>
				      	<% end %>		
				    	</td>
				    	
				    	<td>
				      	<%= score.name %> 
				    	</td>
							
							<td>
				      	<%= score.month %> <%= score.year %>
				    	</td>

							<td>
				      	<%= score.reading %>
				    	</td>

				    	<td>
				      	<%= score.math %>
				    	</td>

				    	<td>
				      	<%= score.writing %>
				    	</td>
							
							<td>
				      	<%= score.math + score.reading + score.writing %>
				    	</td>
							
							<td>
				      	<%= score.essay %>
				    	</td>
							
							<td>
				      	<%= score.taken_date %>
				    	</td>
				    	
				    	<td>
				      	<%= link_to 'Edit', edit_score_path(score) %> | <%= link_to 'Show', score %> 
				    	</td>

				    </tr>	    
				  <% end %>
				</tbody>    
			</table>
		</div>
	<% end %>
	<% if @scores.where(:name => 'ACT').count > 0 %>
		<div class="score_table">
			<h4 class="center">A.C.T.</h4>
			<table>
			  <tbody>
			   <tr>
			    <th>Type</th>
			    <th>Name</th>
			    <th>Date</th>
			    <th>Math</th>
			    <th>Reading</th>
			    <th>English</th>
			    <th>Science</th>
			    <th>Essay</th>
			    <th>Comment:</th>
			    <th>Taken On:</th>
			    <th></th>
			   </tr>	
			    <% @scores.order('taken_date').where(:name => 'ACT').each do |score| %>
						<% if score.test_type == false %>
				    	<tr class="score_table_color">
				    <% else %>
				    	<tr>
				    <% end %>
			    	<td>
			      	<% if score.test_type == true %>
			      		<%= 'Practice' %>
			      	<% else %>
			      		<%= 'Actual' %>
			      	<% end %>		
			    	</td>
			    	
			    	<td>
			      	<%= score.name %>
			    	</td>
						
						<td>
			      	<%= score.month %> <%= score.year %>

			      	<% if score.day == true %>
			      		<%= 'Wed' %>
			      	<% elsif score.day == false %>
			      		<%= 'Sat' %>
			      	<% else %>
			      		<%= '' %>	
			      	<% end %>	
			    	</td>

						<td>
			      	<%= score.math %>
			    	</td>

			    	<td>
			      	<%= score.reading %>
			    	</td>

			    	<td>
			      	<%= score.english %>
			    	</td>

			    	<td>
			      	<%= score.science %>
			    	</td>
						
						<td>
			      	<%= score.essay %>
			    	</td>
						
						<td>
			      	<%= truncate(score.comment, lengtd: 50) %>
			    	</td>
						
						<td>
			      	<%= score.taken_date %>
			    	</td>
			    	
			    	<td>
			      	<%= link_to 'Edit', edit_score_path(score) %> | <%= link_to 'Show', score %>
			    	</td>
			    </tr>	    
			  <% end %>
				  
				</tbody>    
			</table>
		</div>
	<% end %>

	<% if @scores.where(:name => 'SAT').count > 0 %>
		<div class="row center">
			<h3>SAT Scores</h3>
			<%= column_chart [
				{name: "Reading", data: @score_sat.map{|t| [t.taken_date, t.reading] }},
  			{name: "Math", data: @score_sat.map{|t| [t.taken_date, t.math] }},
  			{name: "Writing", data: @score_sat.map{|t| [t.taken_date, t.writing] }}], min: 200, max: 900 %> 
		</div>
	<% end %>	
	
	<% if @scores.where(:name => 'PSAT').count > 0 %>
		<div class="row center">
			<h3>PSAT Scores</h3>
			<%= column_chart [
				{name: "Reading", data: @score_psat.map{|t| [t.taken_date, t.reading] }},
  			{name: "Math", data: @score_psat.map{|t| [t.taken_date, t.math] }},
  			{name: "Writing", data: @score_psat.map{|t| [t.taken_date, t.writing] }}] %> 
		</div>	
	<% end %>

	<% if @scores.where(:name => 'ACT').count > 0 %>
		<div class="row center">
			<h3>ACT Scores</h3>
			<%= column_chart [
				{name: "Math", data: @score_act.map{|t| [t.taken_date, t.math] }},
  			{name: "English", data: @score_act.map{|t| [t.taken_date, t.english] }},
  			{name: "Reading", data: @score_act.map{|t| [t.taken_date, t.reading] }},
  			{name: "Science", data: @score_act.map{|t| [t.taken_date, t.science] }}], min: 0, max: 36 %> 
		</div>	
	<% end %>	
</div>