<div class="well admin-sections">
	<h3>Students:</h3>
	<%= link_to 'Student List',  students_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Triggers</h3>
	<%= link_to 'Triggers', triggers_path, class: "btn btn-primary" %>
	<%= link_to 'Add Trigger', new_trigger_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Hints</h3>
	<%= link_to 'Hints', hints_path, class: "btn btn-primary" %>
	<%= link_to 'New Hint', new_hint_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Questions</h3>
	<%= link_to 'Questions', questions_path, class: "btn btn-primary" %>
	<%= link_to 'New Question', new_question_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Rules</h3>
	<%= link_to 'Rules', rules_path, class: "btn btn-primary" %>
	<%= link_to 'New Rule', new_rule_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Scores</h3>
	<%= link_to 'Add Score',  new_score_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Sessions</h3>
	<%= link_to 'Sessions', sittings_path, class: "btn btn-primary" %>
	<%= link_to 'New Session', new_sitting_path, class: "btn btn-primary" %>
</div>

<div class="well admin-sections">
	<h3>Chapter</h3>
	<%= link_to 'Chapters', chapters_path, class: "btn btn-primary" %>
	<%= link_to 'New Chapter', new_chapter_path, class: "btn btn-primary" %>
</div>