<div class="well">
  <div clas="panel-body">
    <%= simple_form_for(@chapter, html: { class: "form-horizontal"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :ch_order, as: :integer, input_html: { rows: "1", :class => "form-control" }, label: "Chapter Order:" %>
      </div>

      <div class="form-group">
        <%= f.input :name, as: :text, input_html: { rows: "2", :class => "form-control" }, label: "Chapter Title:" %>
      </div>
      
         <%= f.button :submit, "Post Chapter", class: "btn btn-primary" %>
    
    <% end %>
  </div>  
</div>