<div class="form-container">
  <h1>Listing Chapters</h1>

  <div class="score_table">
    <table>
      <thead>
        <tr>
          <th>Chapter: </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @chapters.each do |chapter| %>
          <tr>
            <td><%= chapter.name %></td>
            <td><%= link_to 'Show', chapter %></td>
            <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
            <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New chapter', new_chapter_path %>
</div>