<div class="form-container">
	<p id="notice"><%= notice %></p>

		<h2><%= @sitting.user.firstname %> <%= @sitting.user.lastname %></h2>

	<p>
	  <h4>Session Date: <%= @sitting.date.strftime("%A %b %d") %> </h4>
	</p>

	<div class="score_table">
		<table id="scores">
		  <tbody>
				<% @rules.each do |rule| %>
					<tr>
						<th colspan="2" >Rule: <%= rule.name %></th>
						<th></th>
					</tr>	  
	<!-- Triggers -->				
					<% rule.triggers.each do |trigger| %>
						<tr>
							<td>T</td>
							<td><%= trigger.body %></td>
							<td><%= trigger.explanation %></td>
						</tr>
						<% if trigger.image? || trigger.image2? %>
							<tr>	
								<td></td>
								<% if trigger.image? %>
									<td><%= image_tag trigger.image.url(:thumb) %></td>
								<% else %>
									<td></td>
								<% end %>	
								<% if trigger.image2? %>	
		  						<td><%= image_tag trigger.image2.url(:thumb) %></td>
		  					<% else %>
		  						<td></td>	
		  					<% end %>	
							</tr>	
						<% end %>	
					<% end %>	
	<!-- Questions -->	
					<% rule.questions.each do |question| %>
						<tr>
							<td>Q</td>
							<td><%= question.body %></td>
							<td><%= question.answer %></td>
						</tr>
						<% if question.image? || question.image2? %>
							<tr>	
								<td></td>
								<% if question.image? %>
									<td><%= image_tag question.image.url(:thumb) %></td>
								<% else %>
									<td></td>
								<% end %>
								<% if question.image2? %>		
		  						<td><%= image_tag question.image2.url(:thumb) %></td>
		  					<% else %>
		  						<td></td>
		  					<% end %>		
							</tr>	
						<% end %>	
					<% end %>	
	<!-- Hints -->	
					<% rule.hints.each do |hint| %>
						<tr>
							<td>H</td>
							<td><%= hint.body %></td>
							<td><%= hint.explanation %></td>
						</tr>
						<% if hint.image? || hint.image2? %>
							<tr>	
								<td></td>
								<% if hint.image? %>
									<td><%= image_tag hint.image.url(:thumb) %></td>
								<% else %>	
									<td></td>
								<% end %>	
								<% if hint.image2? %>
		  						<td><%= image_tag hint.image2.url(:thumb) %></td>
		  					<% else %>	
		  						<td></td>
		  					<% end %>	
							</tr>	
						<% end %>	
					<% end %>	
				<% end %>

	  	</tbody>
		</table>
	</div>
	<p>
	  <strong>Comment:</strong>
	  <%= @sitting.comment %>
	</p>

	<%= link_to 'Edit', edit_sitting_path(@sitting) %> |
	<%= link_to 'Back', sittings_path %>
</div>