<div class="show-box well">
	<div class="form-container">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Trigger:</strong>
		  <%= markdown(@trigger.body) %>
		</p>

		<p>
		  <strong>Explanation:</strong>
		  <%= markdown(@trigger.explanation) %>
		</p>

		<p>
		  <strong>Images:</strong>
		  <%= image_tag @trigger.image.url(:medium) %>
		  <%= image_tag @trigger.image2.url(:medium) %>
		</p>

		<%= link_to 'Edit', edit_trigger_path(@trigger) %> |
		<%= link_to 'Back', triggers_path %>
	</div>
</div>	