<p id="notice"><%= notice %></p>

<p>
  <strong>Trigger:</strong>
  <%= @trigger.body %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @trigger.explanation %>
</p>

<%= link_to 'Edit', edit_trigger_path(@trigger) %> |
<%= link_to 'Back', triggers_path %>
