<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="row header_row1">
    <div class="header_logo">
      <%= image_tag('logo.png')%>
    </div>
  </div>
  <div class="row header_row2">  
    <div class="container">
      <div class="collapse navbar-collapse navbar-ex1-collapse"> 
        <ul class="nav navbar-nav navbar-left">
          <li class="home">
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span>
            <% end %>  
          </li>
          <li>    
            <%= link_to 'About',  about_path, class: "header_text" %>
          </li>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to 'Students',  students_path %></li>
            <% end %>
          <% end %>  
        </ul>  
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to 'Add Score',  new_score_path %></li>
            <% end %>  
              <li><%= link_to 'Profile',  current_user %></li>
              <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>        
      </div>
    </div>
  </div>  
</nav>
